.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.content-section {
  outline: none;
  padding: 10px 20px;
  margin-bottom: 20px;
}
/* 
form div{
  display: inline-block;
  width: auto;
} */


main {
  overflow-x: auto;
  text-align: center;
}

table {
  width: auto;
  margin-bottom: 1rem;
}

table th,
table td {
  vertical-align: middle;
}
